.video:hover {
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.playIcon {
  display: none;
}

.video:hover .playIcon {
  display: block;
}

.defaultSize {
  width: 100%;
  height: 224px;
}

.btn-download,
.btn-download:hover {
  background-color: #004990;
  color: #fff;
}

.slider {
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .defaultSize {
    width: 100%;
    height: auto;
  }
}
